body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
.formulario h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1a2537;
    font-size: 40px;
    padding-left: 1rem;
}
.formulario h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1a2537;
    font-size: 20px;
    padding: 1rem;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: rgb(126, 163, 22);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
}
.button:hover{
    background: rgb(19, 92, 29);
}
p{
    text-align: center;
    font-size: 1.5rem;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 3rem;
        border-radius: 2%;
    }
}


.box a {
    font-family: Arial, Helvetica, sans-serif;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    height: auto;
    position: relative;
    transition: all 2s ease-in-out;
    margin-top: 25rem;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
}


.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}


.butp:hover {
    background: rgb(19, 92, 29);
}

.butp {
    border: none;
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: rgb(113, 206, 128);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
