{% include 'headindex.html' %}
{% include 'navindexform.html' %}

<div class="About">
    <div class="Documentacion">
        <h2>Problema a resolver </h2>
        <p>Actualmente la contaminación ambiental es un problema que se ha convertido en el principal tema de discusión
            desde las
            diferentes instituciones y comunidades ya que es una problemática que afecta a todos los seres humanos desde
            sus
            múltiples dimensiones y que está causando efectos tales como la destrucción de la capa de ozono, cambios
            climáticos
            inesperados , enfermedades, extinción de la flora Y fauna entre otros, dichos efectos están deteriorando
            cada día más la
            calidad de vida de los seres humanos, es por esto que se hacen necesarios procesos que ayuden al buen manejo
            de los
            recursos sólidos.
            El proceso de reciclaje en fuente es una práctica que conlleva a que los seres humanos entiendan que los
            desechos
            resultantes de diferentes tipos de recursos y/ o procesos cumplen un ciclo de funcionamiento productivo
            dentro del
            planeta, cuando este ciclo se cumple se le denomina desechos pero según los expertos la mayoría de estos son
            reciclables
            luego de pasar por un proceso de recuperación son transformados en nuevos materiales que pueden ser
            utilizados como
            materia prima para la elaboración de nuevos productos.
            Reciclar se convierte en un proceso simple pero que a su vez ayuda de manera eficaz a salvar los recursos
            naturales
            renovables alejándolo al ser humano del ciclo tradicional de adquirir, consumir y luego desechar y esto
            requiere de un
            esfuerzo extra para cada persona ya que no es fácil por la falta de práctica en lo cotidiano.
            Es entonces donde surge la necesidad que desde los lugares de trabajo y campus educativo en el cual pasa el
            mayor tiempo
            del día se empiece un rescate por los valores socio-ecológicos, la conciencia y las buenas costumbres para
            reflexionar
            acerca del cuidado que se le está dando al medio ambiente.
            El proceso de reciclaje en fuente se convierte en una prueba piloto con la que se busca demostrar que a
            partir de una
            educación ambiental fundamentada en la práctica de nuevas costumbres, valores que generen estimulaciones
            para el
            mejoramiento de un desarrollo ambiental sostenible, la sostenibilidad de un ambiente sano libre de
            contaminación se ve
            reflejado desde el trabajo individual y colectivo de una comunidad, dichos beneficios trascienden a través
            de los
            procesos de adopciones individuales y el compromiso del cuidado del mismo.
            La educación ambiental se ha convertido en la mejor manera para adoptar y transformar nuevos comportamientos
            que nos
            permitirán una sostenibilidad a los procesos que se están desarrollando </p>
        <h2>Alcance </h2>
        <p>Nuestro proyecto será distribuido en la universidad católica y alrededores, la universidad cuenta con 4
            sedes, las
            cuales son: la sede número 4 la cual está ubicada en la Cra. 13 #47-30, la sede del claustro la cual está
            ubicada en la
            Dg. 46a #15-10, la sede de la 13 la cual está ubicada en la Cra. 13 #47-49, y la sede de las torres en la
            cual al lado
            se ubica la facultad de psicología la cual está ubicada en la Av. Caracas # 46-72. </p>
        <h2>Objetivo General</h2>
        <p>
            Promover el buen manejo de las basuras en la universidad católica por medio de actividades y retos presentes en una
            aplicación
        </p>
        <h2>Objetivos Específicos</h2>
            <li>Identificar los problemas y necesidades ecológicas en la comunidad de la universidad católica de Colombia. </li>
            <li>Describir los problemas y necesidades del mal uso de las basuras en la comunidad de la universidad católica de Colombia. </li>
            <li>Establecer requisitos del sistema del problema ecológico para que la aplicación registre aquellos Requisitos necesarios. </li>
            <li>Establecer requisitos del sistema del problema ecológico para que la aplicación registre aquellos Requisitos necesarios.</li>
            <li>Diseñar una aplicación la cual por medio de actividades solucione los problemas y necesidades del medio ambiente.</li>
        <h2>Casos de uso: Requerimientos Funcionales </h2>
        <div>
            <li> El sistema podrá ser consultado por cualquier usuario ingresando su nombre de usuario y contraseña.
            </li>
            <li>El sistema permitirá al usuario registrarse. El usuario debe suministrar datos como: Nombre de usuario,
                Nombre Completo, E-mail y contraseña. </li>
            <li> El sistema permitirá que al presionar el botón de inicio se logre ver información de la aplicación
                como,la meta y por qué usarla, además de los creadores. </li>
            <li> El sistema permitirá que al presionar el botón porcentajes se logre ver información de los porcentajes
                de nuevos usuarios, cantidad de papel reciclado, cantidad de cartón reciclado,cantidad de latas
                recicladas y de plástico reciclado. </li>
            <li> El sistema permitirá que al presionar el botón mi perfil, podrán ver la información de usuario como su
                nombre de usuario, su nombre completo y su email. </li>
            <li> El sistema permitirá que al presionar el botón nuevos retos al usuario se le muestren los retos que
                tiene por hacer ese día, como la cantidad de elementos a reciclar y los puntos que va a ganar. </li>
            <li> El sistema permitirá que al presionar el botón mis puntos al usuario se le muestren los puntos que
                tienen acumulados hasta el momento, además de los lugares donde puede redimir los puntos. </li>
            <li> El sistema permitirá que al presionar el botón cerrar sesión se muestre una ventana con el mensaje
                “Adiós vuelve pronto”, con un botón de salir que al presionarlo se cerrara la app. </li>
            <li> El sistema podrá ser modificado por cualquier usuario ingresando su nombre de usuario y contraseña.
            </li>
            <li> El sistema permitirá eliminar un usuario al presionar el botón “eliminar”, pedirá nombre de usuario y
                contraseña. </li>
            <li> El sistema permitirá visualizar la información necesaria por el usuario navegando por la página, donde
                encontrará la cantidad de puntos, o información sobre su cuenta (correo registrado, nombre usuario,
                etc.). </li>
            <li> El sistema enviara un correo electrónico, cuando el usuario allá realizado alguna acción (Eliminar,
                modificar, puntos obtenidos). </li>
            <li> El sistema registrará el material agregado y dará un valor en puntos.</li>
            <li> El sistema mostrará la cantidad de puntos optenidos el cual servirá para redimir o canjear los puntos
                obtenidos en la recolecta de materiales reciclables. </li>
        </div>
        <h2>Requerimientos No Funcionales</h2>
        <div>
            <li> El aplicativo se desarrollará en FastApi, para posteriormente hacer la conexión con Deta Base</li>
            <li> El funcionamiento del sistema se desarrolló casi en su totalidad con el servicio de internet
                obligatorio. </li>
            <li> El sistema debe contar con manuales de usuario estructurados adecuadamente, para poder guiar al usuario
                en el correcto
                funcionamiento del aplicativo.</li>
            <li> La interfaz para este sistema se deberá desarrollar de manera muy sencilla y amigable. </li>
            <li> El aplicativo será desarrollado para las plataformas web y teléfonos celulares, esto con el objetivo de
                que los
                usuarios también puedan registrar cualquier información en el aplicativo mediante sus teléfonos
                personales. </li>
            <li> El sistema va a requerir un usuario y una contraseña, para que de esta manera únicamente registren y
                modifiquen la
                información personal.</li>
            <li> Los datos modificados en la base de datos deben ser actualizados para todos los usuarios que acceden en
                menos de 2
                segundos</li>
            <li> El tiempo de aprendizaje del sistema por un usuario deberá ser menor a 4 horas. </li>
            <li> La aplicación web debe estar disponible 24/7. </li>
            <li> La longitud de las claves de la aplicación debe ser de mínimo 8 caracteres y debe incluir símbolos, al
                menos una
                mayúscula y al menos un número. </li>
            <li> La aplicación web debe funcionar en firefox, Chrome, IE, etc. </li>
            <li> La aplicación debe funcionar en tabletas y dispositivos móviles (Android, IOS, Windows Phone). </li>
            <li> El sistema debe proporcionar mensajes de error que sean informativos y orientados a usuario final, pero
                deberán ser
                muy claros en retornar el error cometido para que sea fácilmente corregido </li>
        </div>
        <h2>Arquitectura </h2>
        <h2>Diagramas </h2>
        <div class="diagramas">
            <h1>Modelo de casos de uso </h1>
            <a> <img src="/static/Imagenes/diagrausuario.png" alt=""> </a>
            <h1><h1>
            <a> <img src="/static/Imagenes/diagrapagina.png" alt=""> </a>
            <h1>Diagrama de clases. <h1>
            <a> <img src="/static/Imagenes/DiagramaDeClases.jpeg" alt=""> </a>
            <h1>Estructura de desglose. <h1>
            <a> <img src="/static/Imagenes/EstructuraDeDesglose.jpeg" alt=""> </a>
            <h2>Modelo de datos </h2>
            <h1>Estimacion de Actividades. <h1>
            <a> <img src="/static/Imagenes/EstimacionDeActividades.jpeg" alt=""> </a>
            <h1>Diagrama de Red. <h1>
            <a> <img src="/static/Imagenes/DiagramaDeRed.jpeg" alt=""> </a>
        </div>
        <h2>Limitaciones </h2>
        <div>
            <li>Politica de tratamiento de datos de la universidad. </li>
            <li>Garantizar un tiempo de ejecución optimo. </li>
            <li>Garantizar la estabilidad del sistema de información. </li>
            <li>Suministro de energía limitado (normalmente dependiente de baterías).</li>
            <li> Procesadores con capacidad de cómputo reducida en dispositivos de gama baja. Suelen tener una baja frecuencia de reloj por la necesidad de ahorrar energía. 
            En dispositivos de gama media alta, la capacidad de cómputo es alta. </li>
            <li>Poca memoria principal (RAM) en dispositivos de gama baja. En dispositivos de gama media la memoria no es una limitación.</li>
            <li>Almacenamiento de datos limitado. A pesar de contar con altas capacidades las aplicaciones y archivos son cada vez más pesados.</li>
            <li>Conexión a red. Aunque el ancho de banda puede ser reducido en función de las tarifas.</li>
            <li>Además, preferimos que nuestra aplicación sea accesible para los dispositivos más actuales.</li>
        </div>
        <h2>COSTOS </h2>
        <h2>Personal </h2>
        <div>
            <li>1 Ingenieros $ 1´000.000 </li>
            <li>13 Programadores $ 1´000.000 </li>
            <li>1 Contador (Prestación de servicios) $ 1´000.000. </li>
            <li>1 Abogado (Prestación de servicios) $ 1´000.000 </li>
        </div>
        <h2>Insumos </h2>
        <div>
            <li>Servicio de Dominio Entre $42.800 y $91.170 COP al año </li>
            <li>Servicio de Web Hosting Entre $24.000 y $9.866.000 COP al año </li>
            <li>Servicio de seguridad web Entre $0 a $541.100 COP al año </li>
        </div>
        <h1>Mapa de Endpoints </h1>
        <a> <img src="/static/Imagenes\MapaDeEndpints.JPG" alt=""> </a>
    </div>
</div>

{% include 'footerindexyforms.html' %}
