<footer class="footer">
    <div class=" pie-pagina">
        <div class="grupo-1">
            <h1>Creado por:</h1>
            <a><img src="/static/Imagenes/Appbiente_horizontal.PNG" alt="Logo de SLee Dw"></a>
        </div>
        <div class="grupo-2">
            <h1>Desarroladores</h1>
            <li>rarivera43@ucatolica.edu.co</li>
            <li>djgarcia63@ucatolica.edu.co</li>
            <li>camoreno71@ucatolica.edu.co</li>
            <li>mfmartinez455@ucatolica.edu.co</li>
            <li>dmmillan25@ucatolica.edu.co</li>

        </div>
        <div class="grupo-3">
            <div class="red-social">
            <ul>
                <h1>SIGUENOS</h1>
            <ul>
                <img src="/static/Imagenes/instagram.png" alt="">
                <img src="/static/Imagenes/facebook.png" alt="">
                <img src="/static/Imagenes/twiter.png" alt="">
            </ul>
            </div>
        </div>
    </div>
    </div>

    <div class="copy">
        <div>
            <small>&copy; 2022 <b>Facultad de Ingenieria</b> - Todos los Derechos Reservados.</small>
        </div>
    </div>
</footer>

</html>
