
{% include 'headindex.html' %}
{% include 'navindexform.html' %}

<section class="PrincipalS">
    <div class="informacion">
        <h2 class="Titulos">¿Que es?</h2>
        <p>“RRR en acción” es una aplicación que se dedica a concientizar e insentivar la
            disminución de la contaminación y mal uso de las basuras generadas por los estudiantes de la
            Universidad católica y sus alrededores.</p>
        <h2 class="Titulos">Nuestra meta</h2>
        <p>RRR en acción tiene por objetivo concientizar e incentivar a los estudiantes de la
            universidad católica de Colombia a hacer buen uso y manejo de las basuras para así de esta forma
            crear espacios mas limpios dentro de la misma</p>
        <h2 class="Titulos">Porque usar RRR en accion</h2>
        <p>No solo es reciclar por reciclar, toda acción buena tiene su beneficio y esta no es la
            excepción, con RRR en acción acumula puntos por reciclar en nuestros puntos diferentes elementos
            como papel, cartón, etc.; Tiene beneficios como, descuentos en el gimnasio, descuentos en la
            cafetería y en almacenes de cadena.</p>

    </div>

    <div class="porcentajes">

        <div>

            <div class="porcentajes">

                <h2 class="back1">0%</h2>
                <h3>Nuevos usuarios</h3>
            </div>

            <div class="porcentajes">
                <h2 class="back2">0%</h2>
                <h3>Cantidad de papel reciclado</h3>
            </div>

            <div class="porcentajes">
                <h2 class="back3">0%</h2>
                <h3>Cantidad de Carton reciclado</h3>
            </div>

            <div class="porcentajes">
                <h2 class="back4">0%</h2>
                <h3>Cantidad de latas recicladas</h3>
            </div>

            <div class="porcentajes">
                <h2 class="back5">0%</h2>
                <h3>Cantidad de plastica reciclado</h3>
            </div>
        </div>
    </div>
</section>

{% include 'footerindexyforms.html' %}

