{% include 'headindex.html' %}
{% include 'navindexform.html' %}

<div class="About">
    <div class="Marciano">
        <h2>Tecnologias </h2>
        <h1>Antena de Comunicacion </h1>
        <ul><img src="/static/Imagenes/tecnologia_dibujo_1.png" alt="Dibujo"></ul>
        <p> La herramienta, desarrollada íntegramente en España, permite la comunicación entre la Tierra y el planeta rojo. También
        se puede comunicar con otras naves en Marte. </p>
        <ul><img src="/static/Imagenes/tecnologia_real_1.png" alt="imagen real"></ul>
        <p>La antena HGAS permite el envío de datos e imágenes con una comunicación directa entre Marte y la Tierra, así como la
        recepción de comandos y actualizaciones del software para el rover Perseverance. También es capaz de comunicarse con
        otras naves que se encuentran en la órbita marciana. Con esta, el CDTI cuenta ya con dos antenas (la primera desde hace
        más de ocho años) operando en Marte y tres estaciones meteorológicas (REMS, TWINS y MEDA). </p>
        <h1>Satellite </h1>
        <ul><img src="/static/Imagenes/tecnologia_dibujo_2.png" alt="Dibujo"></ul>
        <p> La sonda Maven de la NASA comenzó a orbitar en torno a Marte, en el marco de una misión científica para
        conocer cómo se modificó en el tiempo el clima del planeta rojo, dijo la agencia espacial estadounidense. </p>
        <ul><img src="/static/Imagenes/tecnologia_real_2.png" alt="imagen real"></ul>
        <p> "Como primer vehículo en estudiar la alta atmósfera de Marte, Maven incrementará claramente nuestra comprensión de la
        historia de la atmósfera marciana y cómo ha cambiado el clima durante el tiempo, así como el impacto sobre la evolución
        del ambiente en la superficie y la habitabilidad potencial del planeta", destacó el domingo en un comunicado el jefe de
        la Nasa, Charles Bolden. </p>
        <h1>Pathfinder </h1>
        <ul><img src="/static/Imagenes/tecnologia_dibujo_3.png" alt="Dibujo"></ul>
        <p> Desde el aterrizaje hasta la última transmisión de datos el 27 de septiembre de 1997, Mars Pathfinder devolvió 2300
        millones de bits de información, incluidas más de 16 500 imágenes del módulo de aterrizaje y 550 imágenes del rover, así
        como más de 15 análisis químicos de rocas y suelo y amplios datos sobre vientos y otros factores meteorológicos. </p>
        <ul><img src="/static/Imagenes/tecnologia_real_3.png" alt="imagen real"></ul>
        <p> Mars Pathfinder se lanzó el 4 de diciembre de 1996 y aterrizó en Ares Vallis de Marte el 4 de julio de 1997. Fue
        diseñado como una demostración de tecnología de una nueva forma de entregar un módulo de aterrizaje instrumentado y el
        primer rover robótico a la superficie del rojo. planeta. Pathfinder no solo logró este objetivo, sino que también
        devolvió una cantidad de datos sin precedentes y sobrevivió a su vida de diseño principal.</p>
        <h1>Purificacion de agua </h1>
        <ul><img src="/static/Imagenes/tecnologia_dibujo_4.png" alt="Dibujo"></ul>
        <p> Más de 2 mil millones de personas en todo el mundo no tienen acceso al agua potable, pero la nueva tecnología utilizada
        para purificar el agua para los astronautas en la Estación Espacial Internacional (ISS) también podría ayudar a quienes
        más la necesitan en la Tierra, según un informe publicado por CNN.</p>
        <ul><img src="/static/Imagenes/tecnologia_real_4.png" alt="imagen real"></ul>
        <p> La empresa danesa Aquaporin A/S desarrolló un sistema que imita el proceso natural de filtración del agua utilizando
        proteínas llamadas acuaporinas. Las proteínas permiten la transferencia de agua en los organismos vivos (por ejemplo,
        cómo las plantas pueden absorber el agua del suelo) y permiten la purificación del agua un 50% más rápido que los
        métodos tradicionales. </p>
        <h1>Paneles solares </h1>
        <ul><img src="/static/Imagenes/tecnologia_dibujo_5.png" alt="Dibujo"></ul>
        <p> usar paneles solares en Marte es más eficiente que la energía nuclear, al menos en una zona del planeta. </p>
        <ul><img src="/static/Imagenes/tecnologia_real_5.png" alt="imagen real"></ul>
        <p> Los rovers que la NASA tiene en Marte funcionan con la energía solar que consiguen a través de paneles. Esto permite que
        cuenten con energía supuestamente infinita. Sin embargo, hay ocasiones en las que los paneles solares no captan la
        suficiente luz. Eso es lo que le ha pasado a InSight. </p>
        <h2>Personaje que mas nos agrado </h2>
        <h1> Mark Watney </h1>
        <ul><img src="/static/Imagenes/Mark_Watney.png" alt="Mark_Watney"></ul>
        <p> Llegamos al acuerdo de que el personaje que mas nos agrado fue Mark debido
        a que el nos muestra que jamas hay que rendirse, el siempre dio lo mejor de si
        mismo para salir de marte y no morir, creó ese sistema de purificacion de agua,
        supo como sobrevivir a pesar de que se le explotara el refugio, es un personaje
        bastante inspirador.</p>
        <h2>Personaje que menos nos agrado </h2>
        <h1> Teddy Sanders</h1>
        <ul><img src="/static/Imagenes/Teddy_Sanders.png" alt="Teddy_Sanders"></ul>
        <p>Llegamos al acuerdo de que el personaje que menos nos agrado fue el señor Sanders
        debido a que apesar de que estuvo deacuerdo en salvar a mark, el preferia no perder
        tiempo ni dinero y solo se interesaba por lo que los medios y la gente opinaran de todo lo sucedido.
        </p>
        <h2>Partes del libro que nos generaron emociones </h2>
        <h1> Explocion del purificador de agua</h1>
        <p>Esta parte nos causa gracia debido a que mark habla con alegria y emocion del echo de tener una super idea y al siguiente solo
            dice "bueno exploto", haciendonps saber que su gran idea no termion tan bien.
        </p>
        <h1> Rencuentro de nark con la tripulacion</h1>
        <p>Esta parte nos causa alegria debido a que es muy lindo y gratificante sentir la emocion del personaje al encontrarse con sus compañéros
            y ser salvado por ellos.
        </p>
        <h1> Cuando los tripulantes se enteran de que podian salvar a Mark</h1>
        <p>Esta parte nos causa enojo, debido a que sentimos esa frustracion que sienten los compañeros de mark al enterarse de que si no se
            hubieran ido podrian haber salvado a su compañero y el echo de que se los hayan ocultado por tanto tiempo tambien es frustrante.
        </p>
    </div>
</div>
{% include 'footerindexyforms.html' %}
