<header>
    <div class="nav">
        <nav class="dinav">
            <img src="/static/Imagenes/Icono pagina principal.png" alt="">
            <a href="/">Inicio</a> <!-- <a href="/">Inicio</a>  -->
            <a href="/signup">Registrarme</a> <!-- <a href="/signup">Registrarme</a> -->
            <a href="/login">Inicia sesion</a> <!-- <a href="/login">Inicia sesion</a> -->
            <a href="/about-us">About us</a> <!-- <a href="/Aboutus">About us</a> -->
            <a href="/marciano">Marciano</a> <!-- <a href="/Marciano">Marciano</a> -->
        </nav>
    </div>
</header>
