
{% include 'headuser.html' %}

<body class="fondo_puntos">
        <section class="PrincipalS">
            <div class="Puntos">
                <div class="cabeza">
                    <img src="/static/Imagenes/RRR EN ACCION blanco.png" alt="">
                </div>
                <h2>MI PERFIL</h2>
                
                <h2>Codigo Estudiantil:</h2>
                <h2>
                    {{code}}
                </h2>
                <h2>Nombre completo:</h2>
                <h2>
                    {{fullname}}
                </h2>
                <h2>Email:</h2>
                <h2>
                    {{email}}
                </h2>
            </div>
            <div class="Botones">
                <div>
                    <div class="User">
                        <a href="/perfil/{{code}}"><img src="/static/Imagenes/USER.png" alt=""></a>
                        <h1>
                            {{fullname}}
                        </h1>
                    </div>
            
                    <div class="porcentajes">
            
                        <form class="button" action="/perfil/{{code}}">
                            <input type="submit" value="Mi Perfil" class="but">
                        </form>
                    </div>
            
                    <div class="porcentajes">
                        <form class="button" action="/retos/{{code}}">
                            <input type="submit" value="Nuevos Retos" class="but">
                        </form>
                    </div>
            
                    <div class="porcentajes">
                        <form class="button" action="/puntos/{{code}}">
                            <input type="submit" value="Mis Puntos" class="but">
                        </form>
                    </div>
                    <div class="porcentajes">
                        <div class="box">
                            <a class="botpop" href="#popup1">Cerrar sesion</a>
                        </div>
                        <div id="popup1" class="overlay">
                            <div class="popup">
                                <h2>ADIÓS VUELVE PRONTO!</h2>
                                <form class="button" action="/Logout" method="POST" >
                                    <input type="submit" value="Salir" class="butp">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
<footer>
</footer>
</html>
